body {

}

.profile-section {
	 margin-bottom: 50px;
}

.profile-form {
	margin-bottom: 50px;
}
.container {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	margin-bottom: 20px;
}

.label {
	display: block;
}

.form-group {
	display: block;
}
